<%= form_for(@bookmark) do |f| %>

  
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %>
    <%= f.text_field :desc %>
  </div>
  
  <div class="field_tags">
    <%= f.label :tags %>
    <%= f.text_field :tags, :value => @bookmark.tags.join(", ") %>
  </div>
  
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  
   <%= f.hidden_field :user_id, :value => session[:user_id] %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
