<%= form_for(@bookmark) do |f| %>

  
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :url, :size => 60 %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 60 %>
  </div>
  <div class="field">
    <%= f.label :desc %>
    <%= f.text_field :desc, :size => 60 %>
  </div>
  
  <div class="field_tags">
    <%= f.label :tags %>
    <%= f.text_field :tags, :value => @bookmark.tags.to_a.join(", "), :size => 60 %>
  </div>
  
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  
  <div class="field">
    <%= f.label :archive %>
    <%= f.check_box :archive %>
  </div>

   <%= f.hidden_field :user_id, :value => session[:user_id] %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
