= form_for @bookmark, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :url, :class => 'control-label'
    .controls
      = f.text_field :url, :class => 'text_field'
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :desc, :class => 'control-label'
    .controls
      = f.text_area :desc, :class => 'text_area'
  .control-group
    = f.label :created, :class => 'control-label'
    .controls
      = f.datetime_select :created, :class => 'datetime_select'
  .control-group
    = f.label :modified, :class => 'control-label'
    .controls
      = f.datetime_select :modified, :class => 'datetime_select'
  .control-group
    = f.label :private, :class => 'control-label'
    .controls
      = f.check_box :private, :class => 'check_box'
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.number_field :user_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), bookmarks_path, :class => 'btn'
