<%= form_for @bookmark, html: { class: "form"} do |f| %>
  
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :url, :size => 60, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 60, class: "form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, rows: 4, :size => 60, class: "form-control" %>
  </div>
  
  <div class="form-group field_tags">
    <%= f.label :tags %>
    <%= f.text_field :tag_list, :size => 60, class: "form-control" %>
  </div>
  
  <div class="form-group field">
		<%= f.label :private %>
		<%= f.check_box :private %>
  </div>
  
  <div class="form-group field">
    <%= f.label(:is_archived, 'archive url?') %>
    <%= f.check_box :is_archived %>
  </div>

  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
