<h1>New Bookmark</h1>
<script type="text/javascript">
$(function() {
  $('#bookmark_tags').focus();
});
</script>
 
<%= form_for @bookmark, html: { class: "form-horizontal"} do |f| %>
  
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :url, :size => 60, :value => params[:address], class: "uh-form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 60, :value => params[:title], class: "uh-form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :desc, "Description" %>
    <%= f.text_field :desc, :size => 60, :value => params[:description], class: "uh-form-control" %>
  </div>
  
  <div class="form-group field_tags">
    <%= f.label :tags %>
    <%= f.text_field :tag_list, :size => 60, class: "uh-form-control" %>
  </div>
  
  <div class="form-group field">
		<%= f.label :private %>
		<%= f.check_box :private %>
  </div>
  
  <div class="form-group field">
    <%= f.label(:is_archived, 'archive url?') %>
    <%= f.check_box :is_archived %>
  </div>

  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :is_popup, :value => 1 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
