<h1>New Bookmark</h1>
<%= form_for(@bookmark) do |f| %>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :url, :value => params[:address] %>
  </div>
 
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :value => params[:title] %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_field :desc, :value => params[:description] %>
  </div>
  
  <div class="field_tags">
    <%= f.label :tags %>
    <%= f.text_field :tags, :value => @bookmark.tags.join(", ") %>
  </div>
  
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  
  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 

 
