<h1>New Bookmark</h1>
<script type="text/javascript">
$(function() {
  $('#bookmark_tags').focus();
});
</script>
<%= form_for(@bookmark) do |f| %>
  <div class="field input-text">
    <%= f.label :address %>
    <%= f.text_field :url, :value => params[:address] %>
  </div>
 
  <div class="field input-text">
    <%= f.label :title %>
    <%= f.text_field :title, :value => params[:title] %>
  </div>

  <div class="field input-text">
    <%= f.label :desc %>
    <%= f.text_field :desc, :value => params[:description] %>
  </div>
  
  <div class="field_tags input-text">
    <%= f.label :tags %>
    <%= f.text_field :tags, :value => @bookmark.tags.join(", ") %>
  </div>
  
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  
  <%= f.hidden_field :is_popup, :value => 1 %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 

 
