<h2>Welcome <%= session[:username] %> </h2>

<div class="messages-wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
</div>


<p />
<div class="main-wrapper">

 <% 
  @bookmarks.each do |b|
 %>
 <div class="bookmark-wrapper">
  <div class="bookmark-title"><a href="<%= b.url %>"><%= b.title %></a></div>
  <div class="bookmark-desc">
    <%= b.desc %>
  </div>
  <div class="bookmark-tags">
    <% b.tags.each do |t| %>
      <a href="tags/<%= t.id %>"><%= t.name %></a>

    <% end %>
  </div>
  <div class="bookmark-details">
    <span class="bookmark-created"><%= nice_date_form(b.created_at) %></span>
      <span class="bookmark-ops">
        <span class="bookmark-edit"> <%= link_to "Edit", edit_bookmark_path(b) %> </span>
        <span class="bookmark-delete"><a href="/bookmarks/<%= b.id %>/delete">Delete</a></span>
      </span>
    </span>
  </div>
 </div>
 <% 
   end
 %>

</div>
