- model_class = @bookmark.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @bookmark.url
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @bookmark.title
%p
  %strong= model_class.human_attribute_name(:desc) + ':'
  %br
  = @bookmark.desc
%p
  %strong= model_class.human_attribute_name(:created) + ':'
  %br
  = @bookmark.created
%p
  %strong= model_class.human_attribute_name(:modified) + ':'
  %br
  = @bookmark.modified
%p
  %strong= model_class.human_attribute_name(:private) + ':'
  %br
  = @bookmark.private
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @bookmark.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), bookmarks_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_bookmark_path(@bookmark), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), bookmark_path(@bookmark), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
