<h1><%= @bookmark.title %></h1>

<script type="text/javascript">
  $(function() {
    if (window.name == "Bkmark.me Bookmarks") {
      window.close();
    }
  });
</script>


<div class="messages-wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
</div>


<div class=bookmark-desc>
  <a href="<%= @bookmark.url %>"><%= @bookmark.title %></a>
</div>
<div class=bookmark-details>
  <div class=bookmark-desc>
    <pre><%= @bookmark.desc %></pre>
  </div>
  <div class=bookmark-tags>
    tags:  <%= @bookmark.tag_list.to_a.join(", ") %>
  </div>
  <% if @bookmark.is_archived? %>
    <div class=bookmark-archive>
      <a href="/archive/<%= @bookmark.id %>.html">View Archive</a>
    </div>
  <% end %>

</div>
