<%= form_for @user do |f| %>
  <%= render "shared/error_messages", :target => @user %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :website2 %><br />
    <%= f.text_field :website2 %>
  </div>
  <div class="field">
    <%= f.label :website3 %><br />
    <%= f.text_field :website3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
