<h1>Profile of <%= @user.username %></h1>
<div id=user-wrapper>
  <div id=userpic-wrapper><span><%= @user.provider == "twitter" ?
  image_tag @user.pic_url : image_tag avatar_url(@user) %></span></div>
  <div id=username-wrapper><span class=username>Full Name: </spon><span><%= @user.fullname %></span></div>
  <div id=view-bookmarks><span class="profile-fullname"><a href="/bookmarks/user/<%= @user.id %>">View bookmarks</a></span></div>
  <div id=userweb-wrapper><span class=userweb>Primary website: </spon><span><a href="<%= @user.website %>">website</a></span></div>
</div>
<p />
<hr />
<p />



<h2>Recent Public Bookmarks</h2>
<% @user.bookmarks.first(10).each do |b| %>
  <a href="<%= b.url %>"><%= b.title %></a><br />

<% end %>

<p />
<hr />
<p />
<h2>Popular Tags</h2>
<% @tags.each do |k,v| %>
<a href=""><%= "#{k} (#{v})" %></a><br />
<% end %>

<p />
<hr />
<p />
<% if @user.id == session[:user_id] %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

