<% content_for :head, auto_discovery_link_tag(:rss, "/user/#{@user.id}/bookmarks.rss") %>

<h1>Profile of <%= @user.username %></h1>
<div id=user-wrapper>
  <div id=userpic-wrapper><span>
      <%= @user.provider == "twitter" ? (image_tag @user.pic_url) : (image_tag avatar_url(@user)) %>
  </span></div>
  <div id=username-wrapper><span class=username>Full Name: </spon><span><%= @user.fullname %></span></div>
  <div id=view-bookmarks><span class="profile-fullname"><a href="/bookmarks/user/<%= @user.id %>">View bookmarks</a></span></div>
  <div id=userweb-wrapper><span class=userweb>Primary website: </spon><span><a href="<%= @user.website %>">website</a></span></div>
</div>
<p />
<hr />
<p />

<h2>Add a bookmarklet to browser</h2>
<p>
Drag the following shortcut to your browser bookmark bar for a shortcut to
bookmark the current page:
<p />

<span class=bookmarklet>
<a href="javascript:x=document;a=encodeURIComponent(x.location.href);t=encodeURIComponent(x.title);d=encodeURIComponent(window.getSelection());open('http://www.bkmark.me/bookmarklet?action=add&popup=1&address='+a+'&title='+t+'&description='+d,'Scuttle%20Bookmarks','modal=1,status=0,scrollbars=1,toolbar=0,resizable=1,width=730,height=465,left='+(screen.width-730)/2+',top='+(screen.height-425)/2);void%200;">Post
  to Bookmarks</a>
</span>


<p />
<hr />
<p />

<h2>Recent Public Bookmarks</h2>
<% @bookmarks.each do |b| %>
  <a href="<%= b.url %>"><%= b.title %></a><br />

<% end %>

<p />
<hr />
<p />
<h2>Popular Tags</h2>
<% @tags.each do |k,v| %>
<a href=""><%= "#{k} (#{v})" %></a><br />
<% end %>

<p />
<hr />
<p />
<% if @user.id == session[:user_id] %>
  <h2>Import Bookmarks</h2>
  Import bookmarks from delicious or pinboard using V1 of the del.ico.us API
  <p>
    <a href="/api/upload">Upload import xml file</a>
  </p>
  <h2>Export Bookmarks</h2>
  <a href="/api/posts/all.xml">Download all posts in an xml file</a>

  <p />
  <hr />
  <p />
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

