<!DOCTYPE html>
<html>
<head>
  <title>Bkmark.me: Social Bookmarking!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render :partial => 'shared/includes' %>
  <%= yield :head %>
</head>
<script type="text/javascript">
$(function() {
  $('form.navbar-search input').focus(function() {
    $(this).val('');
  });
});
</script>
<body>

<%= render :partial => 'shared/header' %>


<div class="container">
<% flash.each do |name, msg| %>
  <div class="row"><div class="span6 alert alert-<%= name.to_s == "notice" ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">x</a>
    <%= msg  %>
  </div></div>
<% end %>
<div class=row>
  <div class="span9"><%= yield %></div>
  <div class="span3 aside">
  </div>
</div>

Page Rendered in <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds
</div>
</body>
</html>
